@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght,YOPQ@100..900,40..300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: none;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
  box-sizing: border-box;
}

button, input, textarea {
  all: unset;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

::-ms-reveal {
  filter: invert(100%);
}

button {
  cursor: pointer;
}

input[text], textarea {
  cursor: text;
}

input[type=file] {
  display: none;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #2f2f2f transparent;
}

body {
  line-height: 1;
  background-color: rgb(28, 28, 28);
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: #2f2f2f;
  border-radius: 5px;
}

h1, h2, h3, h4, p, a, button, input, textarea, small, time {
  font-family: "Roboto", -apple-system, apple color emoji, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.ChatHeader {
  position: absolute;
  top: 0;
  z-index: 2;
  display: flex;
  gap: 16px;
  justify-content: space-between;
  width: 100%;
  padding: 6.5px 18px;
  background: #212121;
  border-right: 1px solid rgb(15, 15, 15);
  border-left: 1px solid rgb(15, 15, 15);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.ChatHeader .DeskBlock, .ChatHeader > span {
  display: flex;
  align-items: center;
}
.ChatHeader > span {
  justify-content: end;
  flex-grow: 1;
}
.ChatHeader > span > :last-child ul {
  right: 0;
  top: calc(100% + 13px);
  transform-origin: top right;
}
.ChatHeader .DeskBlock {
  line-height: 1.4;
  gap: 16px;
}
.ChatHeader .DeskBlock div:first-child {
  width: 42px;
  height: 42px;
}
.ChatHeader .DeskBlock div:first-child h1 {
  font-size: 14px;
}
.ChatHeader .DeskBlock h3 {
  color: white;
}
.ChatHeader .DeskBlock p {
  font-size: 14px;
  color: #a9a9a9;
}
.ChatHeader > :first-child {
  display: none;
}

@media screen and (max-width: 940px) {
  .ChatHeader > :first-child {
    display: block;
  }
}

/*# sourceMappingURL=style.module.css.map */
