@use '../../../styles/base/_variables.css' as v;

.ToolsBlock {
  &, span, svg {
    display: flex;
    align-items: center;
  }

  p {
    font-weight: 600;
    margin-left: 24px;
    font-size: 20px;
  }
}

.SearchBlock {
  display: flex;
  flex-direction: column;
  gap: 16px;
}