@use '../../../utils/styles/base/_variables.css' as v;
@import url("../../../utils/styles/base/_normalize.scss");

.ChatContainer {
  display: flex;
  color: white;
  padding: 9px;
  border-radius: 12px;
  transition: .2s background-color ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .DescContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(100% - 54px);
    padding-left: 8px;
    line-height: 1.5;

    p {
      color: #a9a9a9;
    }

    h3, > p {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    span {
      display: flex;
      justify-content: space-between;

      p {
        font-size: 12px;
        white-space: nowrap;
        margin-left: 15px;
      }
    }
  }

  &:hover {
    background-color: #2d2d2d;
  }
}