@use "../../../../app/styles/variables" as v;

.UploadMediaBlock {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  cursor: pointer;
  width: 100%;

  & > :first-child {
    border-radius: 7.5px 7.5px 0 0;
    max-height: 225px;
    min-height: 80px;
  }

  img,
  section {
    border: .5px solid v.$dark-1000;
    height: auto;
    object-fit: cover;
    max-height: inherit;
    width: 100%;
  }

  > span {
    display: flex;
    width: 100%;

    img {
      flex-shrink: 1;
      max-width: 100%;
      min-width: 0;
      max-height: 112.5px;
      min-height: 80px;
    }
  }
}