$gray-400: #a9a9a9;
$gray-500: #989898;
$gray-600: #707579;
$gray-700: #656565;

$dark-800: #2d2d2d;
$dark-900: #212121;
$dark-1000: #181818;

$secondary-red: #322525;
$primary-red: #fd5859;

$black-80: rgba(0, 0, 0, 0.8);
$black-60: rgba(0, 0, 0, 0.6);
$black-40: rgba(0, 0, 0, 0.4);
$black-20: rgba(0, 0, 0, 0.2);
$black-0: rgba(0, 0, 0, 0);

$white-20: rgba(255, 255, 255, 0.2);
$white-0: rgba(255, 255, 255, 0);

$gray-66-40: rgba(66, 66, 66, 0.4);
$gray-33-80: rgba(33, 33, 33, 0.8);
$gray-23-40: rgba(23, 23, 23, 0.4);

$white: #ffffff;
$black: #000000;