$yellow-shade-55: #ffd11a;
$yellow-shade-60: #ffd633;
$yellow-shade-70: #ffe066;
$yellow-shade-80: #ffeb99;
$yellow-shade-90: #fff5cc;
$yellow-shade-95: #fffae5;
$yellow-shade-97: #fffcf0;
$yellow-shade-99: #fbfbfe;

$dark-shade-08: #141414;
$dark-shade-10: #1a1a1a;
$dark-shade-15: #262626;
$dark-shade-20: #333333;
$dark-shade-25: #404040;
$dark-shade-30: #4d4d4d;
$dark-shade-35: #595959;
$dark-shade-40: #666666;

$grey-shade-50: #7e7e81;
$grey-shade-60: #98989a;
$grey-shade-70: #b3b3b3;
$grey-shade-80: #cccccc;
$grey-shade-90: #e4e4e7;
$grey-shade-95: #f1f1f3;
$grey-shade-97: #f7f7f8;
$grey-shade-99: #fcfcfd;
