@use "../../../app/styles/variables" as v;

.ReplyBlock {
  border-left: 3px solid white;
  color: v.$white;
  background-color: v.$dark-900;
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.4;
  transition: 0.2s background-color ease-in-out;

  &:hover {
    background-color: v.$dark-800;
  }

  & > :first-child {
    font-weight: 600;
  }

  img {
    width: 100%;
    border-radius: 8px;
  }
}

.OGAttachment {
  margin-bottom: 8px;

  > * {
    line-height: 1.5;
  }

  img {
    margin: 3px 0;
  }
}