@use '../../../../1-app/styles/variables.css' as v;

.EntityIconBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 15px;
  height: 280px;
  padding-top: 56px;
  background-color: #212121;

  >:first-child {
    width: 120px;
    height: 120px;

    h1 {
      font-size: 44px;
    }
  }

  .TitleBlock {
    line-height: 1.3;

    h1 {
      color: white;
      font-size: 20px;
    }

    p {
      font-size: 14px;
      color: #a9a9a9;
    }
  }
}

.InfoList {
  padding: 8px;
  background-color: #212121;

  li {
    display: flex;
    width: 100%;
  }
}
