@use "../../../../app/styles/variables" as v;

.InterButton {
  position: relative;
  color: v.$white;
  border-radius: 100%;
  background-color: v.$dark-800;
  height: fit-content;
  transition: 0.2s background-color ease-in-out;

  &:hover {
    background-color: v.$dark-1000;
  }

  > svg {
    display: flex;
    width: 22px;
    height: 22px;
    padding: 14px;
  }
}
