
.MediaBlock {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.MediaBlock > :first-child img {
  border-radius: 7.5px 7.5px 0 0;
}
.MediaBlock img, .MediaBlock section {
  border: 2px solid #212121;
  height: auto;
  object-fit: cover;
  max-height: 300px;
  width: 100%;
}
.MediaBlock > span {
  display: flex;
  width: 100%;
  max-height: 137.5px;
}
.MediaBlock > span img {
  flex-shrink: 1;
  max-width: 100%;
  min-width: 0;
  min-height: 100px;
}


