@use '../../styles/base/_variables.css' as v;

.RangeInput, .WideInput {
  cursor: pointer;
  border-radius: 5px;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #a8a8a8;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    transition: .2s all ease-in-out;
    margin-top: -5px;

    &:hover {
      transform: scale(110%);
      background-color: white;
    }
  }

  &::-webkit-slider-runnable-track {
    border-radius: 5px;
  }
}

.RangeInput {
  width: 180px;

  &::-webkit-slider-runnable-track {
    height: 2px;
    border-radius: 5px;
    background-color: #a8a8a8;
    transition: .2s background-color ease-in-out;

    &:hover {
      background-color: white;
    }
  }
}

.WideInput {
  width: 100%;
  background-color: #a8a8a8;
  background-image: linear-gradient(#ffff, #ffff);
  background-size: 0;
  background-repeat: no-repeat;
  height: 3px;
  -webkit-appearance: none;
  
  &::-webkit-slider-thumb {
    height: 14px;
    width: 14px;
    margin-top: -5.5px;
    background: white;
  }

  &::-webkit-slider-runnable-track {
    height: 3px;
    background-color: unset;
  }
}

.VolumeBlock {
  display: flex;
  align-items: center;

  input {
    max-width: 50px;
    width: 50px;
  }
}