.popup-node-enter {
    opacity: 0;
}

.popup-node-enter-active {
    opacity: 1;
    transition: opacity .3s ease-in-out;
}

.popup-node-exit {
    opacity: 1;
}

.popup-node-exit-active {
    opacity: 0;
    transition: opacity .3s ease-in-out;
}
