
.Popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.Popup, .Popup > div {
  display: flex;
  justify-content: center;
}
.Popup > div {
  position: relative;
  flex-direction: column;
  gap: 8px;
  width: 400px;
  background-color: #212121;
  border-radius: 10px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1411764706), 0 3px 1px -2px rgba(0, 0, 0, 0.1215686275), 0 1px 5px rgba(0, 0, 0, 0.2);
  padding: 8px;
  color: white;
  overflow: hidden;
}
.Popup > div img {
  cursor: auto;
}

.PopupMessage {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.PopupMessage p {
  color: white;
  padding: 12px 16px;
  background-color: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(10px);
  border-radius: 8px;
  font-weight: 600;
  white-space: nowrap;
}


