@use "../../../app/styles/variables" as v;

.Popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 8;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: v.$black-40;

  &,
  > div {
    display: flex;
    justify-content: center;
  }

  > div {
    position: relative;
    flex-direction: column;
    gap: 8px;
    width: 400px;
    background-color: v.$dark-1000;
    border-radius: 10px;
    box-shadow:
      0 2px 2px #00000024,
      0 3px 1px -2px #0000001f,
      0 1px 5px #0003;
    padding: 8px;
    color: v.$white;
    overflow: hidden;

    img {
      cursor: auto;
    }
  }
}

.PopupMessage {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  p {
    color: v.$white;
    padding: 12px 16px;
    background-color: v.$black-80;
    backdrop-filter: blur(10px);
    border-radius: 8px;
    font-weight: 600;
    white-space: nowrap;
  }
}
