@use '../../../styles/base/_variables.css' as v;
@use '../../../styles/base/normalize';

.ChatMessageContainer {
  position: relative;
  background-color: #181818;
  padding: 8px 8px 15px 8px;
  border-radius: 15px 15px 15px 0;
  line-height: 1.5;
  max-width: 65%;
  min-width: 180px;

  .ReplyBlock {
    border-left: 3px solid white;
    background-color: #2f2f2f;
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    line-height: 1.4;
    transition: .2s background-color ease-in-out;

    &:hover {
      background-color: #353535;
    }
  }

  &, .ChatMessageBlock {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .ChatMessageBlock {
    overflow: hidden;

    small {
      position: absolute;
      right: 8px;
      bottom: 4px;
      line-height: 1;
      color: #a9a9a9;
      font-size: 12px;
    }

    ul {
      transform-origin: center center;
    }
  }

  .ChatDocumentBlock {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}

.Owner {
  background-color: #212121;
  border-radius: 15px 15px 0 15px;
  align-self: end;
}