@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght,YOPQ@100..900,40..300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: none;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
  box-sizing: border-box;
}

button, input, textarea {
  all: unset;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

::-ms-reveal {
  filter: invert(100%);
}

button {
  cursor: pointer;
}

input[text], textarea {
  cursor: text;
}

input[type=file] {
  display: none;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #2f2f2f transparent;
}

body {
  line-height: 1;
  background-color: rgb(28, 28, 28);
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: #2f2f2f;
  border-radius: 5px;
}

h1, h2, h3, h4, p, a, button, input, textarea, small, time {
  font-family: "Roboto", -apple-system, apple color emoji, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.MessageContainer .MessageInnerBlock {
  display: flex;
  align-items: end;
  gap: 5px;
  transform-origin: bottom left;
}
.MessageContainer .MessageInnerBlock .UserAvatarLink > * {
  width: 40px;
  height: 40px;
}
.MessageContainer .MessageInnerBlock .MessageWrapper {
  line-height: 1.3;
  max-width: 65%;
  min-width: 180px;
}
.MessageContainer .MessageInnerBlock .MessageWrapper .MessageContent {
  position: relative;
  background-color: #181818;
  padding: 8px 8px 15px 8px;
  border-radius: 15px 15px 15px 0;
  margin-bottom: 1px;
}
.MessageContainer .MessageInnerBlock .MessageWrapper .MessageContent > a {
  color: white;
  line-height: 1;
  font-size: 14px;
  font-weight: 600;
  transition: 0.2s color ease-in-out;
}
.MessageContainer .MessageInnerBlock .MessageWrapper .MessageContent .ReplyBlock {
  border-left: 3px solid white;
  background-color: #2f2f2f;
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
  line-height: 1.4;
  transition: 0.2s background-color ease-in-out;
}
.MessageContainer .MessageInnerBlock .MessageWrapper .MessageContent .ReplyBlock:hover {
  background-color: #353535;
}
.MessageContainer .MessageInnerBlock .MessageWrapper .MessageContent, .MessageContainer .MessageInnerBlock .MessageWrapper .MessageContent .MessageBlock {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.MessageContainer .MessageInnerBlock .MessageWrapper .MessageContent .MessageBlock {
  overflow: hidden;
}
.MessageContainer .MessageInnerBlock .MessageWrapper .MessageContent .MessageBlock small {
  position: absolute;
  right: 8px;
  bottom: 4px;
  line-height: 1;
  color: #a9a9a9;
  font-size: 12px;
}
.MessageContainer .MessageInnerBlock .MessageWrapper .MessageContent .MessageBlock p {
  word-break: break-all;
}
.MessageContainer .MessageInnerBlock .MessageWrapper .MessageContent .MessageBlock ul {
  transform-origin: center center;
}
.MessageContainer .MessageInnerBlock .MessageWrapper .MessageContent .ReactionsBlock {
  display: flex;
  flex-wrap: wrap;
  color: #a9a9a9;
  font-weight: bold;
  font-size: 15px;
  gap: 5px;
  margin-bottom: 5px;
}
.MessageContainer .MessageInnerBlock .MessageWrapper .MessageContent .ReactionsBlock button {
  display: flex;
  align-items: center;
  gap: 4px;
  background: linear-gradient(45deg, #212121, #181818);
  padding: 1px 6px;
  border-radius: 18px;
}
.MessageContainer .MessageInnerBlock .MessageWrapper .MessageContent .ReactionsBlock button span {
  font-size: 18px;
}
.MessageContainer .MessageInnerBlock .MessageWrapper .MessageContent .ReactionsBlock button:hover {
  background: linear-gradient(45deg, #212121, #212121);
}
.MessageContainer .MessageInnerBlock .MessageWrapper .MessageContent .DocumentBlock {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.MessageContainer .MessageInnerBlock .MessageWrapper .OwnerMessageContent {
  background-color: #212121;
  border-radius: 15px 15px 0 15px;
}
.MessageContainer .MessageInnerBlock .MessageWrapper .OwnerMessageContent .ReactionsBlock button {
  background: linear-gradient(45deg, #181818, #212121);
}
.MessageContainer .MessageInnerBlock .MessageWrapper .OwnerMessageContent .ReactionsBlock button:hover {
  background: linear-gradient(45deg, #181818, #181818);
}
.MessageContainer .MessageInnerBlock .MessageWrapper .ChannelMessageContent {
  border-radius: 15px 15px 0 0;
}
.MessageContainer .MessageInnerBlock .CommentsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #181818;
  padding: 8px;
  border-radius: 0 0 15px 0;
  cursor: pointer;
  transition: 0.2s background-color ease-in-out;
  font-weight: 600;
  font-size: 15px;
}
.MessageContainer .MessageInnerBlock .CommentsContainer:hover {
  background-color: #212121;
}
.MessageContainer .MessageInnerBlock .CommentsContainer > svg {
  width: 24px;
  height: 24px;
}
.MessageContainer .OwnerMessageInnerBlock {
  justify-content: end;
}

.OwnerMessageContainer {
  align-self: end;
  transform-origin: bottom right;
}

/*# sourceMappingURL=style.module.css.map */
