.slider-node-enter {
  opacity: 0;
}

.slider-node-enter-active {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.slider-node-exit {
  opacity: 1;
}

.slider-node-exit-active {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
