@use '../../../styles/base/_variables.css' as v;

.ContactListContainer {
  display: flex;
  flex-direction: column;
  padding: 0 8px 8px;

  > p {
    color: white;
    line-height: 1.5;
    padding: 8px 16px;
  }
}