.wrapper-node-enter {
    opacity: 0;
}
.wrapper-node-enter-active {
    opacity: 1;
    transition: opacity .2s ease-in-out;
}

.wrapper-node-exit {
    opacity: 1;
}
.wrapper-node-exit-active {
    opacity: 0;
    transition: opacity .2s ease-in-out;
}
