@use '../../styles/base/_variables.css' as v;
@use '../../styles/base/_normalize.scss';

.CaptionBlock {
  width: 100%;
  background-color: #181818;
  padding: 6px 24px;
  font-size: 14px;
  line-height: 18px;
  color: #aaaaaa;

  p {
    padding-bottom: 6px;
  }
}
