@use '../../utils/styles/base/_variables.css' as v;
@import url("../../utils/styles/base/_normalize.scss");

.DefaultButton {
  color: #a9a9a9;
  border-radius: 100%;
  transition: .2s background-color ease-in-out;

  &:hover {
    background-color: #303030;
  }

  > svg {
    width: 25px;
    height: 25px;
    padding: 8px;
  }
}