@use '../../utils/styles/base/_variables.css' as v;
@import url("../../utils/styles/base/_normalize.scss");

.DefaultButton {
  position: relative;
  color: #a9a9a9;
  border-radius: 100%;
  transition: .2s background-color ease-in-out, .2s color ease-in-out;

  &:hover {
    background-color: #303030;
  }

  > svg {
    display: flex;
    width: 25px;
    height: 25px;
    padding: 8px;
  }
}

.InterButton {
  position: relative;
  color: white;
  border-radius: 100%;
  background-color: #303030;
  height: fit-content;
  transition: .2s background-color ease-in-out;

  &:hover {
    background-color: #212121;
  }

  > svg {
    display: flex;
    width: 22px;
    height: 22px;
    padding: 14px;
  }
}

.SwitchButton {
  width: 30px;
  height: 14px;
  border-radius: 12px;
  background-color: #6f7478;
  z-index: 0;
  position: relative;
  transition: .2s all ease-in-out;

  &:after {
    content: "";
    position: absolute;
    z-index: 1;
    height: 18px;
    width: 18px;
    border-radius: 18px;
    background-color: #212121;
    top: 50%;
    transform: translateY(-50%);
    left: -6px;
    border: 2px solid #6f7478;
    transition: .2s all ease-in-out;
  }
}

.SwitchButtonOn {
  background-color: white;

  &:after {
    left: 15px;
    border: 2px solid white;
  }
}

.WhiteButton {
  &:hover {
    background-color: rgba(23, 23, 23, 0.5);
    color: white;
  }
}

.FormButton {
  width: 100%;
  background-color: #2f2f2f;
  padding: 15px 0;
  text-align: center;
  border-radius: 10px;
  transition: .2s background-color ease-in-out;
  font-weight: 600;
  margin-top: 10px;

  &:hover {
    background-color: #282828;
  }

  &:disabled {
    background-color: #282828;
  }
}

.Checkbox {
  height: 16px;
  width: 16px;
  border: 2px solid #8c959b;
  background-color: #212121;
  border-radius: 4px;

  &:checked {
    background-color: #8c959b;
  }

  &:before {
    content: '';
    display: inline-block;
    transform: rotate(45deg);
    height: 8px;
    width: 4px;
    margin: 0 0 1.2px 5px;
    border-bottom: 2.5px solid #212121FF;
    border-right: 2.5px solid #212121FF;
  }
}