
.NoResultContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  height: 100%;
  text-align: center;
  line-height: 1.3;
  padding: 8px;
}
.NoResultContainer svg, .NoResultContainer h1 {
  color: white;
}
.NoResultContainer svg {
  font-size: 140px;
}
.NoResultContainer h1 {
  font-size: 20px;
}
.NoResultContainer p {
  color: #a9a9a9;
}


