@use "../../../../app/styles/variables" as v;

.AuthForm {
  width: 100%;

  &,
  > fieldset {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  > fieldset {
    position: relative;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    max-width: 360px;
    color: v.$white;
    line-height: 1.5;

    svg {
      height: 160px;
      width: 160px;
    }
  }
}