@use '../../../../../app/styles/variables.css' as v;

.ContactButton {
  padding: 4px 16px;
  border-radius: 10px;
  transition: 0.2s background-color ease-in-out;

  &:hover {
    background-color: #2b2b2b;
  }
}