@use "../../../app/styles/variables" as v;

.DefaultButton {
  position: relative;
  color: v.$gray-400;
  border-radius: 100%;
  transition:
    0.2s background-color ease-in-out,
    0.2s color ease-in-out;

  &:hover {
    background-color: v.$dark-800;
  }

  > svg {
    display: flex;
    width: 25px;
    height: 25px;
    padding: 8px;
  }
}

.PlayButtonMini {
  display: flex;
  position: unset;
  border-radius: 50%;
  color: v.$white;

  svg {
    width: 24px;
    height: 24px;
  }

  &:hover {
    background-color: v.$black-20;
  }
}

.SettingButton {
  cursor: pointer;
  line-height: 1.5;
  min-height: 32px;

  &,
  span {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  color: v.$white;
  font-size: 16px;
  width: calc(100% - 32px);
  padding: 8px 16px;
  border-radius: 10px;
  transition: 0.2s background-color ease-in-out;

  &:hover {
    background-color: v.$dark-800;
  }

  &:active {
    background-color: #323232;
  }

  svg {
    min-width: 26px;
    min-height: 26px;
    color: v.$gray-400;
  }

  div {
    margin: 0 8px 0 auto;
  }
}
