@use "../../../../app/styles/variables" as v;

.MinBlock {
  min-width: 180px;
  height: 125px;
}

.MediaButton {
  display: flex;
  position: relative;
  cursor: pointer;
  width: 100%;

  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &:focus-visible:after {
    box-shadow: 0 0 0 2px white inset;
    -webkit-box-shadow: 0 0 0 2px white inset;
    -moz-box-shadow: 0 0 0 2px white inset;
  }

  > svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: initial;
    height: 20%;
    max-height: 80px;
  }
}

.ShadowBlock {
  min-height: 137.5px;
  min-width: 250px;
  width: 100%;
  background: linear-gradient(120deg, #0001 33%, v.$dark-900 50%, #0001 66%);
  animation: skeleton 1.5s infinite linear;
  background-size: 200% 100%;

  @keyframes skeleton {
    to {
      background-position-x: -200%;
    }
  }
}
