@use "../../../app/styles/variables" as v;

.ImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: v.$white;
  background: linear-gradient(
    0deg,
    v.$black-40 0%,
    v.$white-20 100%
  );
  width: 54px;
  height: 54px;
  border-radius: 50%;
  overflow: hidden;

  img {
    width: inherit;
    height: inherit;
    object-fit: cover;
  }

  h1 {
    font-size: 18px;
  }
}
