@use '../../../styles/base/_variables.css' as v;
@import url("../../../styles/base/_normalize.scss");

.ToolsBlock {
  &, span, svg {
    display: flex;
    align-items: center;
  }

  p {
    font-weight: 600;
    margin-left: 24px;
    font-size: 20px;
  }
}

.CreateButton {
  position: absolute;
  bottom: 20px;
  right: 20px;

  > button {
    > svg {
      width: 24px;
      height: 24px;
    }
  }
}