.drop-down-node-enter {
  opacity: 0;
  transform: scale(0);
}

.drop-down-node-enter-active {
  opacity: 1;
  transform: scale(1);
  transition:
    opacity 0.3s ease-in-out,
    transform 0.2s ease-in-out;
}

.drop-down-node-exit {
  opacity: 1;
}

.drop-down-node-exit-active {
  opacity: 0;
  transform: scale(0);
  transition:
    opacity 0.3s ease-in-out,
    transform 0.2s ease-in-out;
}
