@use "../../../app/styles/variables" as v;

.SearchBar {
  position: relative;
  display: flex;
  width: 100%;
  height: 42px;
  padding: 0 8px;
  transform-origin: right;

  .SearchInput {
    width: 100%;
    border-radius: 22px;
    background-color: v.$dark-1000;
    border: 1px solid v.$dark-800;
    padding: 0 44px;
    color: v.$white;
    transition-property: background-color, box-shadow;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;

    &:focus {
      box-shadow: 0 0 0 1px v.$dark-800 inset;
      background-color: v.$dark-1000;
    }

    &::placeholder {
      color: v.$gray-500;
    }
  }

  & > svg {
    position: absolute;
    bottom: 50%;
    left: 22px;
    transform: translateY(50%);
    color: #818181;
    width: 22px;
    height: 22px;
  }
}
