@use "../../../app/styles/variables" as v;

.Textarea {
  align-self: center;
  caret-color: v.$gray-700;
  width: 100%;
  min-width: 100px;
  color: v.$white;
  line-height: 1.5;
  padding: 0 8px;
  overflow-wrap: break-word;

  &::placeholder {
    color: v.$gray-500;
  }
}
