@use '../../../styles/base/_variables.css' as v;
@import url("../../../styles/base/_normalize.scss");

.MediaBlock {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  img, section {
    border: 2px solid #212121;
    height: auto;
    object-fit: cover;
    max-height: 300px;
    width: 100%;
  }

  > span {
    display: flex;
    width: 100%;

    img {
      flex-shrink: 1;
      max-width: 100%;
      min-width: 0;
      min-height: 100px;
    }
  }
}