@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght,YOPQ@100..900,40..300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: none;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
  box-sizing: border-box;
}

button, input, textarea {
  all: unset;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

::-ms-reveal {
  filter: invert(100%);
}

button {
  cursor: pointer;
}

input[text], textarea {
  cursor: text;
}

input[type=file] {
  display: none;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: 1;
  background-color: rgb(28, 28, 28);
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: #2f2f2f;
  border-radius: 5px;
}

h1, h2, h3, h4, p, a, button, input, textarea, small, time {
  font-family: "Roboto", -apple-system, apple color emoji, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.SidebarContainer {
  position: relative;
  z-index: 5;
  display: flex;
  flex-direction: column;
  max-width: 420px;
  width: 100%;
  height: 100vh;
  background-color: #212121;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.SidebarContainer .Wrapper {
  overflow-y: auto;
  min-width: 420px;
}

.RightSidebarContainer {
  right: 0;
  border-right: none;
  align-items: center;
  padding: 0;
  background-color: #181818;
  overflow-y: auto;
  overflow-x: hidden;
}

.LeftSidebarContainerSettings, .RightSidebarContainerEdit {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #181818;
}
.LeftSidebarContainerSettings .Wrapper, .RightSidebarContainerEdit .Wrapper {
  background-color: #212121;
}
.LeftSidebarContainerSettings .Wrapper > p, .RightSidebarContainerEdit .Wrapper > p {
  display: flex;
  position: absolute;
  left: 0;
  padding: 12px 24px;
  color: #747474;
  font-size: 14px;
  min-width: inherit;
}

.RightSidebarContainerEdit {
  left: unset;
  right: 0;
}

@media screen and (max-width: 1280px) {
  .RightSidebarContainer {
    position: absolute;
    z-index: 5;
  }
}

/*# sourceMappingURL=style.module.css.map */
