@use "../../../app/styles/variables.css" as v;

.SidebarContainer {
  position: relative;
  z-index: 5;
  display: flex;
  flex-direction: column;
  max-width: 420px;
  width: 100%;
  height: 100vh;
  background-color: #212121ff;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .Wrapper {
    overflow-y: auto;
    height: 100%;
    min-width: 420px;
  }
}

.RightSidebarContainer {
  right: 0;
  border-right: none;
  align-items: center;
  padding: 0;
  background-color: #181818;
  overflow-y: auto;
  overflow-x: hidden;
}

.LeftSidebarContainer {
  min-width: 420px;
}

.LeftSidebarContainerSettings,
.RightSidebarContainerEdit {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #181818;

  .Wrapper {
    background-color: #212121;

    > p {
      display: flex;
      position: absolute;
      left: 0;
      padding: 12px 24px;
      color: #747474;
      font-size: 14px;
      min-width: inherit;
    }
  }
}

.RightSidebarContainerEdit {
  left: unset;
  right: 0;

  .Wrapper {
    height: 100%;
  }
}

@media screen and (max-width: 1280px) {
  .RightSidebarContainer {
    position: absolute;
    z-index: 5;
  }
}

@media screen and (max-width: 600px) {
  .LeftSidebarContainer,
  .RightSidebarContainer {
    min-width: 100%;
    max-width: 100%;

    .Wrapper {
      min-width: inherit;
    }
  }
}
