@use "../../../../app/styles/variables" as v;

.MembersListContainer {
  display: flex;
  flex-direction: column;
  padding: 0 8px 8px;

  > p {
    color: v.$white;
    line-height: 1.5;
    padding: 8px 16px;
  }
}
