@use '../../styles/base/_variables.css' as v;
@import url("../../styles/base/_normalize.scss");

.VideoPlayer {
  display: flex;
  position: relative;

  video {
    min-width: 100%;
    min-height: 100%;
  }

  .BottomBar {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;
    display: flex;

    width: 100%;
    height: 40px;
  }
}