@use '../../styles/base/_variables.css' as v;
@import url("../../styles/base/_normalize.scss");

.ContactBlock {
  display: flex;
  align-items: center;
  gap: 18px;

  svg {
    color: #aaaaaa;
    width: 26px;
    height: 26px;
    margin-left: auto;
  }

  > span > * {
    width: 42px;
    height: 42px;

    h1 {
      font-size: 16px;
    }
  }

  .ContactInfo {
    line-height: 1.5;

    h4 {
      color: white;
      font-weight: 500;
      font-size: 16px;
    }

    p {
      color: #a9a9a9;
      font-size: 14px;
    }
  }
}