@use '../../../../styles/base/_variables.css' as v;
@import url("../../../../styles/base/_normalize.scss");

.FormContainer {
  &, .Form, .TopForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

  }

  .TopForm {
    padding: 56px 24px 16px;
    gap: 24px;
  }

  .Form {
    padding: 8px;
  }

  label {
    img, svg {
      height: 120px;
      width: 120px;
    }
  }
}