@use "../../../../app/styles/variables" as v;

.SubscribeButton {
  position: absolute;
  bottom: 15px;
  padding: 16px 28px;
  text-transform: uppercase;
  color: v.$white;
  background-color: v.$dark-1000;
  border-radius: 10px;
  transition: 0.2s background-color ease-in-out;

  &:hover {
    background-color: v.$dark-800;
  }
}
