@use "../../../../app/styles/variables" as v;

.Desk {
  position: relative;
  bottom: unset;
  display: block;
  line-height: 1.3;
  font-size: 14px;
  color: v.$gray-400;
}

.SettingButtonRed {
  &,
  svg {
    color: v.$primary-red;
  }

  &:hover {
    background-color: v.$secondary-red;
  }
}
