@use "../../../../app/styles/variables" as v;

.FormButton {
  width: 100%;
  background-color: v.$dark-800;
  padding: 15px 0;
  text-align: center;
  border-radius: 10px;
  transition: 0.2s background-color ease-in-out;
  font-weight: 600;
  margin-top: 10px;

  &:hover, &:focus {
    background-color: #282828;
  }

  &:disabled {
    background-color: #282828;
  }
}
