@use '../../utils/styles/base/_variables.css' as v;
@import url("../../utils/styles/base/_normalize.scss");

.ChatMessageContainer {
  position: relative;
  background-color: #181818;
  padding: 8px;
  border-radius: 15px 15px 15px 0;
  line-height: 1.5;
  max-width: 75%;

  .ReplyBlock {
    border-left: 3px solid white;
    background-color: #2f2f2f;
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    line-height: 1.4;
    transition: .2s background-color ease-in-out;

    &:hover {
      background-color: #353535;
    }
  }

  &, .ChatMessageMedia {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .ChatMessageMedia {
    overflow: hidden;
  }
}

.Owner {
  background-color: #212121;
  border-radius: 15px 15px 0 15px;
  align-self: end;
}