@use "../../../app/styles/variables" as v;

.MessengerContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  transition: 0.3s all ease-in-out;
  position: relative;
  z-index: 5;

  .MessageBlock {
    position: absolute;
    color: v.$white;
    width: 100%;
    bottom: 70px;
    height: calc(100% - 125px);
    overflow-y: scroll;
    //scroll-behavior: smooth;
    max-width: 700px;
    padding: 8px;
  }

  .ChannelMessageBlock {
    max-height: 100%;
    bottom: 0;
  }

  > :last-child {
    max-width: 700px;
  }
}
