@use "../../../../app/styles/variables" as v;

.VolumeBlock {
  display: flex;
  align-items: center;

  input {
    max-width: 50px;
    width: 50px;
  }

  .VolumeInput {
    cursor: pointer;
    border-radius: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      height: 12px;
      width: 12px;
      background-color: v.$gray-400;
      border-radius: 50%;
      transition: 0.2s all ease-in-out;
      margin-top: -5px;

      &:hover {
        transform: scale(1.1);
        background-color: v.$white;
      }
    }

    &::-moz-range-thumb {
      height: 12px;
      width: 12px;
      background-color: v.$gray-400;
      border-radius: 50%;
      border: none;
      transition: 0.2s all ease-in-out;

      &:hover {
        transform: scale(1.1);
        background-color: v.$white;
      }
    }

    &::-ms-thumb {
      height: 12px;
      width: 12px;
      background-color: v.$gray-400;
      border-radius: 50%;
      border: none;
    }

    &::-webkit-slider-runnable-track {
      height: 2px;
      border-radius: 5px;
      background-color: v.$gray-400;
      transition: 0.2s background-color ease-in-out;

      &:hover {
        background-color: v.$white;
      }
    }

    &::-moz-range-track {
      height: 2px;
      border-radius: 5px;
      background-color: v.$gray-400;
      transition: 0.2s background-color ease-in-out;
    }

    &::-ms-track {
      height: 2px;
      border-radius: 5px;
      background-color: v.$gray-400;
      border-color: transparent;
      color: transparent;
    }
  }
}
