@use '../../utils/styles/base/_variables.css' as v;
@import url("../../utils/styles/base/_normalize.scss");

.SliderContainer {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 5;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 8px 20px;

  .ToolsBlock {
    display: flex;
    justify-content: space-between;

    > button {
      display: flex;
      gap: 16px;
      opacity: .5;
      transition: .2s opacity ease-in-out;

      p {
        font-size: 14px;
      }

      >:first-child {
        width: 44px;
        height: 44px;
      }

      &:hover {
        opacity: 1;
      }
    }

    > span {
      svg {
        width: 24px;
        height: 24px;
      }
    }
  }
}
