@use '../../../styles/base/variables' as v;
@use '../../../styles/base/_normalize.scss';

.FileBlock {
  svg, img {
    color: white;
    height: 160px;
    width: 160px;
    cursor: pointer;
  }

  img {
    border-radius: 50%;
    object-fit: cover;
  }
}